<header>
  <div class="nav-container">
    <a routerLink="/./components/merchandise.component">Home</a>
    <a routerLink="/./components/calculator.component">Calculator</a>
    <a routerLink="/./components/cart.component">Cart</a>
  </div>
  <div class="calc-container">
    <label class="container-label">Amount of starting material (in grams): </label>
    <input id="amount-input" type="text">
  </div>
  <div class="calc-container">
    <label class="container-label">THC percentage: </label>
    <input id="percentage-input" type="text">
  </div>
  <div class="calc-container">
    <label class="container-label">Amount of starting material (in grams): </label>
    <select>
      <option>Coconut oil</option>
      <option>Butter</option>
    </select>
  </div>
  <div class="calc-container">
    <button (click)="calculate()" id="calcButton">Calculate</button>
  </div>
  <div class="calc-container" *ngIf ="showing">
    <p>
      <strong>Total THC in your infusion: {{ totalPotency }} mg</strong>
    </p>
    <p>
      <strong>THC per edible: {{ potencyPer }} mg</strong>
    </p>

  </div>
</header>
