<html>
<body>
  <h1>Half Baked Kitchen</h1>
  <div id="login-container" class="container" *ngIf ="showing">
    <div class="container">
      <label class="container-label">Username: </label>
      <input type="text">
    </div>
    <div class="container">
      <label class="container-label">Password: </label>
      <input type="password">
    </div>
    <div class="container">
      <button (click)="login()" [routerLink]="['/./components/merchandise.component']" routerLinkActive="router-link-active">Login</button>
    </div>
  </div>
  <!-- <signup></signup>
  <merch></merch>
  <cart></cart>
  <calc></calc> -->
</body>
</html>

<router-outlet></router-outlet>
